{% extends "layout.html" %}

{% block pageTitle %}
  Application complete
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
          <h2 class="govuk-panel__title">
            Application complete
          </h2>
          <div class="govuk-panel__body govuk-!-font-size-24">
            Your reference number is:
          </div>
          <div class="govuk-panel__body govuk-!-font-size-36">
            <br><strong style="letter-spacing: 4px;">1516-5225-7267-2661</strong>
          </div>
        </div>

        <br>

        <h3 class="govuk-heading-m">What happens next</h3>

        <p class="govuk-body">
          We have sent you a confirmation email.
        </p>

        <h3 class="govuk-heading-m">Write your reference number on each document</h3>
        <p class="govuk-body">
          You need to write the 16-digit number on every document.
          <br>
          <br> 
          Each document must be an original or certified copy.
        </p>



      </div>
    </div>
  </main>
</div>

{% endblock %}
